<!DOCTYPE html>
<!-- ng-app is the root directive which would instantiate our app -->
<html ng-app="MyApp">
  <head>
    <title>Factories Example</title>
		<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../assets/css/styles.css" rel="stylesheet">
	</head>
  <body>
		<div ng-include="'../../nav.html'"></div>
		<div class="container component-container">
			<h2 class="text-muted text-center component-title">Factories Playground</h2>

			<!-- factory example -->
			<div ng-controller="MyFactoryController" class="bs-callout bs-callout-grey">
				<h4><code>factory</code> Controller 1</h4>
				<input type="text" ng-model="inputValue"/>
				<button class="btn btn-primary" ng-click="setValue(inputValue)">Set Value</button>
				<button class="btn btn-primary" ng-click="getValue()">Get Value</button>
				<p>{{ value }}</p>
			</div>

			<div ng-controller="MyFactoryController2" class="bs-callout bs-callout-grey">
				<h4><code>factory</code> Controller 2</h4>
				<input type="text" ng-model="inputValue2"/>
				<button class="btn btn-primary" ng-click="setValue(inputValue2)">Set Value</button>
				<button class="btn btn-primary" ng-click="getValue()">Get Value</button>
				<p>{{ value }}</p>
			</div>

    </div>
		<!-- Scripts -->
		<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../../node_modules/angular/angular.min.js"></script>

		<!-- Angular Scripts -->
		<script src="./factories.js"></script>
  </body>
</html>
